.Normal {
    font-size: 14px;
    line-height: 1.428;
}

.SkinLink {
    margin-top: 15px;
    text-align: center;
}

.container {
    max-width: 62.5rem;
    margin: 0 auto;
}

.carousel-inner > .active.left {
    float: none;
}

.carousel-caption h1 {
    color: #fff;
}


a.button, a.button:visited {
    color: #fff;
}

#toolbox .has-dropdown > a:after {
    display:none;
}

#toolbox .searchBox {
    padding: 15px 15px 0 15px;
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    white-space: nowrap;
    box-shadow: rgba(0,0,0,0.2) 0 0 5px;
}

    #toolbox .searchBox .searchInputContainer input {
        top: 0;
        height: 32px;
        width: 335px;
    }

    #toolbox .searchBox .searchInputContainer a.dnnSearchBoxClearText {
        top: 0 !important;
        right: 0 !important;
    }

    #toolbox .searchBox .SearchButton:link, #toolbox .searchBox a.SearchButton:visited {
        height: 32px;
        width: 32px;
        vertical-align: top;
    }

#toolbox a.SearchButton:link, #toolbox a.SearchButton:visited {
    display: inline-block;
    height: 45px;
    width: 32px;
    margin: 0;
    padding: 0;
    background: #333 url('images/search.png') no-repeat center center;
    text-indent: -9999px;
    vertical-align: top;
}



.searchSkinObjectPreview_group {
    display: none;
}

ul.dnnAdminTabNav {
    height: 40px;
    border-radius: 0 !important;
}


/* styling for the Edit Profile and My Account links in User Profiles */
.dnnActions {
    display: inline-block;
}

    .dnnActions li {
        margin-right: 5px;
        list-style: none;
        float: left;
    }


/*override for dnnLabels in the bootstrap */
.form-group .dnnLabel {
    text-align: left;
    width: auto;
}

.dnnLabel + span {
    white-space: normal;
}


/* ADMIN */

#ControlBar, #ControlBar:before, #ControlBar:after, #ControlBar *:before, #ControlBar *:after,
#ControlBar li, #ControlBar li:before, #ControlBar li:after,
#ControlBar a, #ControlBar a:before, #ControlBar a:after,
.dnn_mact, .dnn_mact:before, .dnn_mact:after, .dnn_mact *:before, .dnn_mact *:after,
.dnn_mact li, .dnn_mact li:before, .dnn_mact li:after {
    -webkit-box-sizing: content-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box !important; /* Firefox, other Gecko */
    box-sizing: content-box !important; /* Opera/IE 8+ */
}

/*------------------------------------------------*/
/* LOGIN */
/*------------------------------------------------*/

.navbar-right {
    height: 51px;
}

    .navbar-right .registerGroup,
    .navbar-right .registerGroup *,
    .navbar-right .loginGroup,
    .navbar-right .loginGroup * {
        display: inline;
    }

    .navbar-right .registerGroup,
    .navbar-right .loginGroup {
        float: right;
    }

        .navbar-right .registerGroup li:first-child:hover {
            border-left: #222;
        }

        /* Register Group Styles */
        .navbar-right .registerGroup li {
            float: left;
        }

        .navbar-right .registerGroup .buttonGroup {
            margin-right: 0;
        }

        .navbar-right .registerGroup a,
        .navbar-right .loginGroup a {
            display: block;
            position: relative;
            height: 50px;
            min-width: 12px;
            padding: 15px 15px 0 15px;
            vertical-align: middle;
        }

            .navbar-right .registerGroup a:hover,
            .navbar-right .loginGroup a:hover {
            }

            .navbar-right .registerGroup a:active,
            .navbar-right .loginGroup a:active {
                text-shadow: 0 -1px 0 #ffffff;
            }

            .navbar-right .registerGroup a:hover,
            .navbar-right .loginGroup a:hover {
                text-decoration: none;
            }

            .navbar-right .registerGroup a strong,
            .navbar-right .loginGroup a strong {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                overflow: hidden;
                font-size: 0;
                text-indent: -9999px;
            }

    .navbar-right .userMessages a,
    .navbar-right .userNotifications a {
        background-color: transparent;
    }

    .navbar-right .userMessages strong {
        height: 100%;
        background: url('i/icon_message.png') no-repeat center center;
    }

    .navbar-right .userNotifications {
    }

        .navbar-right .userNotifications strong {
            height: 100%;
            background: url('i/icon_notification.png') no-repeat center center;
        }

    .navbar-right .registerGroup a span {
        display: inline-block;
        min-width: 7px;
        margin-right: 3px;
        text-align: center;
    }



    .navbar-right .registerGroup .userProfileImg a {
        min-width: 50px;
        min-height: 50px;
        padding: 0;
    }

    .navbar-right .registerGroup a img {
        height: 50px;
        width: 50px;
    }

    /* Login Group Styles */
    .navbar-right .loginGroup {
    }

        .navbar-right .loginGroup a {
        }

    /* Number of message next to the message icon*/
    .navbar-right .userMessages a span,
    .navbar-right .userNotifications a span {
        display: inline-block;
        margin-top: 0;
        margin-right: 0;
        background-color: transparent;
    }

    .navbar-right .userNotifications span, .navbar-right .userMessages span {
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        overflow: hidden;
        font-size: 0;
        text-indent: -9999px;
        z-index: 999;
    }

    .navbar-right .userNotifications span {
        background: url('i/icon_notification_active.png') no-repeat center center;
    }

    .navbar-right .userMessages span {
        background: url('i/icon_message_active.png') no-repeat center center;
    }


/* Content formatting */

#Content, #TopContent {
    margin-top: 10px;
}


/* fix for images that are too wide for panes */
.container img {
    max-width: 100%;
}


a, a:visited {
    color: #008cba;
}
    /* fix to force button color for anchors */
    a.button {
        color: white;
    }

.top-bar-section .dropdown li button.small, .top-bar-section .dropdown li .button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
}
